body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}
.test1 {
  padding:50px;
  background-color: aqua;
  text-align: center;
  margin: 20px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width:100%
}